/**********************
RESET
***********************/
html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body {
    color: #373737;
    background-color: #ffffff;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
    color: #373737;
}
/**********************
SITE WRAPPER
***********************/
.sitewrapper {
    width: 100%;
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
/**********************
HEADER
***********************/
header {
    min-height: 100vh;
    text-align: center;
    background-color: #fafafa;
    padding: 15px 15px 0 15px;
}
header h1 {
    margin-top: 0;
    font-weight: 700;
}
nav {
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #373737;
}
nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav ul li {
    width: 100%;
    height: 40px;
    padding: 12px;
    margin: 0 0 5px 0;
    background: #ffffff;
    font-weight: 700;
    line-height: 1em;
}
/**********************
HERO
***********************/
.hero {
    width: 100%;
    text-align: center;
}
.hero p {
    line-height: 1.5em;
}
.hero img {
    max-width: 60%;
}
/**********************
PORTFOLIO && GRID
***********************/
#portfolio {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 40px 15px 0 15px;
    margin-bottom: 0;
}
#portfolio h1 {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 40px;
}
.grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cell {
    width: 100%;
    margin-bottom: 20px;
}
.cell:last-child {
    margin-bottom: 50px;
}
.cell img {
    width: 100%;
}
.cell h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
}
.cell p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.95em;
}
/**********************
SKILLS
***********************/
#skills {
    color: #f4f4f4;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 40px 15px 0 15px;
    background: #853847;
    margin-top: 0;
}
#skills h1 {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 40px;
    padding-top: 40px;
}
#skills ul {
    text-align: left;
    list-style: none;
    margin: 0;
}
/**********************
FOOTER
***********************/
footer {
    text-align: center;
    margin-top: 20px;
    padding: 0 15px 50px 15px;
    position: relative;
    background: #fafafa;
}
footer h1 {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 40px;
}
footer p {
    font-family: 'Open Sans', sans-serif;
}
footer span {
    font-weight: 700;
}
.footerkill {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 0.75em;
    line-height: 2.5em;
}
.footerkill p {
    padding: 0 15px 0 15px;
}
.footerkill p:last-child {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: -0.7px;
}
/**********************
FOOTER
***********************/
@media (min-width: 768px) {
    /**********************
    HEADER
    ***********************/
    header {
        min-height: 100vh;
        text-align: center;
        background-color: #fafafa;
        padding: 15px 15px 0 15px;
    }
    header h1 {
        margin-top: 0;
        font-weight: 700;
        margin-bottom: 10px;
    }
    nav ul {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 2.5em;
    }
    nav ul li {
        width: 10%;
        margin: 0 5px 0 5px;
        background: none;
    }
    /**********************
    HERO
    ***********************/
    .hero {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: ;
    }
    .hero p {
        line-height: 1.5em;
    }
    .hero img {
        max-width: 60%;
    }
}